/* Variabler, färgkoder, fontstyling */

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 400 to 900


$font-stack: Helvetica, sans-serif;

/* Variabler för färger */
$primary-color: #6f5e44;
$bodyBackgroundColor: darken($primary-color, 10%);
$mainBackgroundColor: lighten($primary-color, 80%);
$menuColor: lighten($primary-color, 2%);
$footerColor: lighten($primary-color, 10%);
$menuHoverColor: darken($primary-color, 5%);
$primary-link-hover: darken($primary-color, 20%);

/* Mörkt tema */
// $primary-color-dark: #73a2e0;
// $bodyBackgroundColor-dark: #ecf1f3;
// $mainbackgroundColor-dark: lighten($primary-color-dark, 70%);
// $menuColor-dark: desaturate($primary-color-dark, 30%);
// $menuHoverColor-dark: darken($primary-color-dark, 5%);
// $primary-link-hover-dark: darken($primary-color-dark, 20%);

/* Fontstyling */
$primary-fonts: 'Playfair Display', serif;
$secondary-fonts: 'Open Sans', sans-serif;
$font-color: #000;
$heading-fontsize: 40px;
$second-heading-fontsize: 32px;
$paragraph-fontsize: 14px;
$menu-fontsize: 18px;

/* Variabler för färger för de olika husen */

$Gryffindor-dark-red: #740001;
$Gryffindor-red: #ae0001;
$Gryffindor-yellow: #eeba30; 
$Gryffindor-gold: #d3a625;

$Slytherin-dark-green: #1a472a;
$Slytherin-green: #2a623d;
$Slytherin-dark-silver: #5d5d5d;
$Slytherin-light-silver: #aaaaaa;

$Ravenclaw-dark-blue: #0e1a40;
$Ravenclaw-blue: #222f5b;
$Ravenclaw-grey: #bebebe;
$Ravenclaw-gold: #946b2b;

$Hufflepuff-dark-yellow: #ecb939;
$Hufflepuff-yellow: #f0c75e;
$Hufflepuff-light-brown: #726255;
$Hufflepuff-dark-brown: #372e29;