/* Variabler, färgkoder, fontstyling */

$font-stack: Helvetica, sans-serif;

/* Variabler för färger */
$primary-color: #5d5d5d; 
$menuColor: lighten($primary-color, 2%); // används i nav och header
$houseName: lighten($primary-color, 10%); // Husnamn start-sida
$member-info-border: darken($primary-color, 25%);

// Färg för text i house-info
$primary-heading-color: #e7e0d8;
$house-info-heading: darken($primary-heading-color, 10%);
$house-info-paragraph: lighten($primary-heading-color, 2%);

/* Mörkt tema */
// $primary-color-dark: #73a2e0;
// $bodyBackgroundColor-dark: #ecf1f3;
// $mainbackgroundColor-dark: lighten($primary-color-dark, 70%);
// $menuColor-dark: desaturate($primary-color-dark, 30%);
// $menuHoverColor-dark: darken($primary-color-dark, 5%);
// $primary-link-hover-dark: darken($primary-color-dark, 20%);

/* Fontstyling */
$primary-fonts: 'Playfair Display', serif;
$secondary-fonts: 'Yusei Magic', sans-serif;
$font-color: lighten($primary-color, 80%);
$second-font-color: darken($primary-color, 60%);
$welcome-text: 68px;
$heading-fontsize: 50px;
$second-heading-fontsize: 32px;
$third-heading-fontsize: 30px;
$member-info-heading-fontsize: 28px;
$paragraph-fontsize: 26px;

/* Variabler för färger för de olika husen */

$Gryffindor-dark-red: #740001;
$Gryffindor-red: #ae0001;
$Gryffindor-yellow: #eeba30; 
$Gryffindor-gold: #d3a625;

$Slytherin-dark-green: #1a472a;
$Slytherin-green: #2a623d;
$Slytherin-dark-silver: #5d5d5d;
$Slytherin-light-silver: #aaaaaa;

$Ravenclaw-dark-blue: #0e1a40;
$Ravenclaw-blue: #222f5b;
$Ravenclaw-grey: #bebebe;
$Ravenclaw-gold: #946b2b;

$Hufflepuff-dark-yellow: #ecb939;
$Hufflepuff-yellow: #f0c75e;
$Hufflepuff-light-brown: #726255;
$Hufflepuff-dark-brown: #372e29;