/*Återanvändning, tex knappar, länkar, formulär */

@use "base";

h1 {
    font-size: base.$heading-fontsize;
    color: base.$font-color;
}

h2 {
    font-size: base.$second-heading-fontsize;
    color: base.$font-color;
    background-color: base.$primary-color; 
    margin: 0 auto;
    padding: 5px 10px; 
    width: fit-content; /* Anpassa bredden efter innehållet */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  font-size: base.$third-heading-fontsize;
  color: base.$second-font-color;
  width: fit-content; /* Anpassa bredden efter innehållet */
  margin: 0 auto;
  background-color: base.$primary-color; 
  padding: 5px 10px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, h2, h3 {
    text-align: center;
    font-weight: 500;
    padding-left: 8%;
    padding-right: 8%;
}

p {
  padding: 15px;
  margin: 1%;
  font-size: base.$menu-fontsize;
  text-align: center;
}

.heading {
  font-weight: 600;
}

/* Hus-div */
#houses {
  display: flex;
  justify-content: center;
  align-items: center;     
  padding: 2%;
}

#houses ul, #houses li {
  display: inline-block;
  padding: 1%;
  list-style-type: none;
  font-weight: 600;
  font-size: base.$heading-fontsize;
  letter-spacing: 4px;
  text-transform: uppercase;
  width:80%; 
}

/* Styla hus-namnen i olika färger */
.gryffindor {
  color: base.$Gryffindor-red;
  text-shadow: 2px 2px 5px base.$Gryffindor-dark-red;
}

.slytherin {
  color: base.$Slytherin-green;
  text-shadow: 2px 2px 5px base.$Slytherin-dark-green;
}

.hufflepuff {
  color: base.$Hufflepuff-yellow;
  text-shadow: 2px 2px 5px base.$Hufflepuff-dark-yellow;
}

.ravenclaw {
  color: base.$Ravenclaw-blue;
  text-shadow: 2px 2px 5px base.$Ravenclaw-dark-blue;
}

#house-info {
  text-align: center;
}

#house-info ul,
#house-info li {
  display: inline-block;
  padding: 20px;
  list-style-type: none;
  font-weight: 500;
  font-size: base.$menu-fontsize;
  text-align: center; 
}


#characterList .characterItem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

#search-character-button, #clear {
  cursor: pointer;
}
#member-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
#member-info img {
  border: 10px solid #000;
  border-radius: 12px;
  width: 300px;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* Mixin för box-shadow */
@mixin custom-box-shadow {
    box-shadow: 0px 5px 10px 0px #6f5e44;
  }

/* Mixin och if/else-sats för border på selfie-bild */
@mixin border-style($rounded: true) {
    @if $rounded {
      border-radius: 50%;
    } @else {
      border-radius: 0;
    }
  }