/*Återanvändning, tex knappar, länkar, formulär */

@use "base";

h1 {
    font-size: base.$heading-fontsize;
    color: base.$font-color;
}

h2 {
    font-size: base.$second-heading-fontsize;
    color: base.$font-color;
}
h1, h2, h3, h4 {
    text-align: center;
    font-weight: 400;
    padding-left: 8%;
    padding-right: 8%;
}

p {
    font-size: base.$paragraph-fontsize;
    text-align: center;
    margin: 40px auto;
    max-width: 80ch;
    line-height: 1.75rem;
    padding-left: 6%;
    padding-right: 6%;
}

/* Mixin för box-shadow */
@mixin custom-box-shadow {
    box-shadow: 0px 5px 10px 0px #6f5e44;
  }

/* Mixin och if/else-sats för border på selfie-bild */
@mixin border-style($rounded: true) {
    @if $rounded {
      border-radius: 50%;
    } @else {
      border-radius: 0;
    }
  }