/*Återanvändning, tex knappar, länkar, formulär */

@use "base";

/* Mixins för gradient-färger på h2 och h3 i house-info-div */
@mixin color-gradient-gryffindor {
  background: linear-gradient(to right, base.$Gryffindor-dark-red, base.$Gryffindor-red, base.$Gryffindor-yellow, base.$Gryffindor-gold);
}

@mixin color-gradient-slytherin {
  background: linear-gradient(to right, base.$Slytherin-dark-green, base.$Slytherin-green, base.$Slytherin-dark-silver, base.$Slytherin-light-silver); 
}

@mixin color-gradient-hufflepuff {
  background: linear-gradient(to right, base.$Hufflepuff-dark-yellow, base.$Hufflepuff-yellow, base.$Hufflepuff-light-brown, base.$Hufflepuff-dark-brown);
}

@mixin color-gradient-ravenclaw {
  background: linear-gradient(to right, base.$Ravenclaw-dark-blue, base.$Ravenclaw-blue, base.$Ravenclaw-grey, base.$Ravenclaw-gold); 
}

/* Mixin för borders i house-info-div */
@mixin border-house-info {
  border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

/* Mixin för box-shadow på husnamn */
@mixin inset-boxshadow {
  box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.2), inset 0 6px 20px rgba(0, 0, 0, 0.19);
}

/* Mixin för enkel box-shadow på karaktärsnamn */
@mixin box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Mixin för centrerade element */
@mixin center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}





/* Mixin för box-shadow */
@mixin custom-box-shadow {
    box-shadow: 0px 5px 10px 0px #6f5e44;
  }

/* Mixin och if/else-sats för border på selfie-bild */
@mixin border-style($rounded: true) {
    @if $rounded {
      border-radius: 50%;
    } @else {
      border-radius: 0;
    }
  }