// Animeringar 
@use "base";

@keyframes shadow {
    from {
        text-shadow: 1px 1px 1px black, 1px 1px 1px blue, 1px 1px 1px darkblue;
    }
    to {
        text-shadow: 8px 8px 4px black, 10px 10px 35px blue, 10px 10px 15px darkblue;
    }
   
  }

  @keyframes spell-box-shadow {
    from {
        box-shadow: 1px 1px 1px rgb(100, 100, 100), 1px 1px 1px rgb(118, 118, 153), 1px 1px 1px rgb(132, 132, 143);
    }
    to {
        box-shadow: 8px 8px 4px rgb(49, 49, 49), 10px 10px 35px rgb(85, 85, 92), 10px 10px 15px rgb(75, 75, 94);
    }
   
  }

  @keyframes house-hover {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, -20px); 
    }
  }

  @keyframes character-hover {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.2, 1.2); 
    }
  }

  @keyframes member-name {
    from {
        transform: scale(1, 1); 
    }
    to {
        transform: scale(1.1, 1.1); 
    }
}

@keyframes spellRotate {
    from {
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(2deg);
    }
}

@keyframes menu {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, -5px); 
    }
}