/* Hantera sidans utseende med grid, flexbox, containers osv */

@use "base";
@use "component";


* {
    box-sizing: border-box;
}

.spellLibrary {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    background-image: url('../images/spell-library.jpg?as=webp&width=1800'); 
    background-size: cover; /* Visa hela bakgrundsbilden inom bodyn */
    background-repeat: repeat-y; /* Upprepa bakgrundsbilden längs sidans höjd */
    cursor: url('../images/wand.png'), auto; /* Trollstav som muspekare */
}

.character-page {
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  background-image: url('../images/characters.jpg?as=webp&width=1800'); 
  background-size: cover; 
  background-repeat: no-repeat; /* Upprepa inte bakgrundsbilden */
  background-position: center; /* Centrera bilden */
  cursor: url('../images/wand.png'), auto; 
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('../images/hogwarts.jpg?as=webp&width=1800'); 
    background-size: cover; 
    background-repeat: no-repeat; /* Upprepa inte bakgrundsbilden */
    background-position: center; /* Centrera bilden */
    cursor: url('../images/wand.png'), auto; 
}

main {
    width: 80%;
    margin: 10px auto;
    min-height: 100vh;
    font-family: base.$primary-fonts;
}

#main-page {
  width: 60%;
  @include component.background-color;
  @include component.box-shadow;
  margin: 0 auto;
  border-radius: 18px;
}

#main-page a {
    font-size: base.$second-heading-fontsize;
    text-decoration: none;
    color: base.$font-color;
}

/* Design av huvudmeny med nestlad regel */
header {
    height: 100px;
    background-color: rgba(36, 38, 51);
    font-family: base.$secondary-fonts;
    position: relative;
    margin: 0;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
        border-radius: 50%;
    }
}

nav {
  background-color: rgba(36, 38, 51);
    font-size: base.$paragraph-fontsize;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;

    ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    li {
        padding: 0.8em 0;
        width: 100%;
    }

    a {
      color: base.$font-color;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 1em;
    }

    a:hover {
        text-decoration: underline;
        cursor: url('../images/wand.png'), auto;
    }
}

/* Menyknapp, öppna */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: rgba(36, 38, 51);
    border: 2px solid rgb(0, 0, 0);
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
  @include component.background-color;
    @include component.box-shadow;
}

.menu-icon {
    margin-right: 10px;
    color: base.$font-color;
    font-size: 20px;
    animation-name: menu;  // Animation på ikon i meny
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.menu-text {
  font-size: 1.4em;
  color: base.$font-color;
}

/* Menyknapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
}

// Animation på ikon i meny
.fa-solid.fa-bars-staggered {
  animation-name: menu;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


// Övergripande regler för rubriker och paragrafer
h1 {
    font-size: base.$welcome-text;
    color: base.$font-color;
    animation-name: shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

h2 {
    font-size: base.$second-heading-fontsize;
    color: base.$font-color;
    margin: 20px auto;
    padding: 15px 10px; 
}

h3 {
  font-size: base.$third-heading-fontsize;
  color: base.$second-font-color;
  margin: 0 auto;
  padding: 5px 10px; 
}

h1, h2, h3 {
    text-align: center;
    font-weight: 500;
}

p {
  padding: 15px;
  margin: 1%;
  font-size: base.$paragraph-fontsize;
  text-align: center;
  font-family: base.$secondary-fonts;
  color: base.$house-info-paragraph;
}


/* Hus-div */
// Övergripande regler för objekt i lista
#houses ul {
    display: flex;
    justify-content: center;
    padding: 2%;
  }
  
  #houses li {
    display: inline-block;
    margin: 4px;
    padding: 10px;
    list-style-type: none;
    font-weight: 600;
    font-size: base.$heading-fontsize;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 10px;
    animation-name: menu;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  #houses li:hover {
    animation-name: house-hover;
    animation-duration: 1s
  }
  
  /* Styla hus-namnen i houses-div */
  .gryffindor {
    color: base.$Gryffindor-dark-red;
    text-shadow: 2px 2px 5px base.$Gryffindor-red;
    background-color: rgba(239, 239, 239, 0.9);
    @include component.inset-boxshadow;
  }
  
  .slytherin {
    color: base.$Slytherin-dark-green;
    text-shadow: 2px 2px 5px base.$Slytherin-green;
    background-color: rgba(239, 239, 239, 0.9);
    @include component.inset-boxshadow;
  }
  
  .hufflepuff {
    color: base.$Hufflepuff-dark-yellow;
    text-shadow: 2px 2px 5px base.$Hufflepuff-yellow;
    background-color: rgba(239, 239, 239, 0.9);
    @include component.inset-boxshadow;
  }
  
  .ravenclaw {
    color: base.$Ravenclaw-dark-blue;
    text-shadow: 2px 2px 5px base.$Ravenclaw-blue;
    background-color: rgba(239, 239, 239, 0.9);
    @include component.inset-boxshadow;
  }
  

  // Information om hus
  #house-info {
    text-align: center;
    @include component.background-color;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
  
 // Regel för "grundare", "färger", "spöke", "djur", "element", "sällskapsrum"
  .heading {
    font-size: base.$third-heading-fontsize;
  }
  
  // Styla hus-namn i house-info div
  // Första "block"
  .house-name.gryffindor {
    color: base.$font-color;
    @include component.color-gradient-gryffindor; 
    @include component.border-house-info;
  }
  
  .house-name.slytherin {
    color: base.$font-color;
    @include component.color-gradient-slytherin;
    @include component.border-house-info;
  }
  
  .house-name.hufflepuff {
    color: base.$font-color;
    @include component.color-gradient-hufflepuff;
    @include component.border-house-info;
  }
  
  .house-name.ravenclaw {
    color: base.$font-color;
    @include component.color-gradient-ravenclaw;
    @include component.border-house-info;
  }
  
  // Andra "block"
  .house-name-second.gryffindor {
    color: base.$font-color;
    @include component.color-gradient-gryffindor;
  }
  
  .house-name-second.slytherin {
    color: base.$font-color;
    @include component.color-gradient-slytherin;
  }
  
  .house-name-second.hufflepuff {
    color: base.$font-color;
    @include component.color-gradient-hufflepuff;
  }
  
  .house-name-second.ravenclaw {
    color: base.$font-color;
    @include component.color-gradient-ravenclaw;
  }
  
   /* Lista på karaktärer i hus under "members of XXX house */
   #house-info ul,
   #house-info li {
     display: inline-block;
     padding: 20px;
     list-style-type: none;
     font-weight: 500;
     font-size: base.$paragraph-fontsize;
     text-align: center; 
   }
 

  /* Namnen på alla karakärer i ett hus */
  #characterList .characterItem {
    @include component.box-shadow;
    margin: 10px;
    font-family: base.$secondary-fonts;
    background-color: base.$houseName;
    border-radius: 8px;
  }
  
  // Vid hover på namn
  .characterItem:hover {
    animation-name: character-hover;
    animation-duration: 1s;
  }
  
  
  /* Member-info-div */
  #member-info {
    width: 100%;
    flex-direction: column;
    @include component.center;
    @include component.background-color;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  /* Member-info rubrik */
  #member-info h3 {
    background-color: base.$houseName;
    font-size: base.$member-info-heading-fontsize;
    margin-bottom: 5%;
    border-radius: 8px;
    padding: 22px;
    @include component.box-shadow;
    animation-name: member-name;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  // Member-info bild
  #member-info img {
    border: 10px solid base.$member-info-border;
    border-radius: 12px;
    width: 300px;
    height: auto;
    @include component.center;
    @include component.box-shadow;
  }


  /* Trollformel-sida */
  // Container med ja eller nej knappar
  #yes-no {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    background-color: rgba(36, 38, 51, 0.7);
    border: 2px solid #000;
    border-radius: 15px;
  }

    // Ja och nej knappar
  #yes-btn, #no-btn {
    @include component.buttons;
    margin-bottom: 2%;
    animation-name: member-name;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  #yes-btn:hover, #no-btn:hover {
    @include component.button-hover;
  }

  // Div där trollforlmer eller meddelande visas, regler fär rubrik
#spells h3 {
  background-color: rgba(36, 38, 51, 0.7);
  text-align: center;
  font-size: base.$paragraph-fontsize;
  color: base.$primary-heading-color;
  border-radius: 10px;
  padding: 2%;
}
 
// Container som skapas med vardera trollformel i
#spellContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// Trollformel-item
.spellItem {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    border: 2px solid #000;
    border-radius: 18px;
    @include component.background-color;
    color: base.$font-color;
    @include component.box-shadow;
    animation-name: spell-box-shadow;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

// Trollformel - effekt och namn
.spellItem p, .spellItem h3 {
    color: base.$font-color;
}


/* Alla karaktärer-sida */

/* Sökrute-container */
#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

/* Sökruta */
#searchCharacter {
  padding: 10px;
  border: 2px solid base.$Ravenclaw-blue;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
}

// Search- och clearknapp
#search-character-button, #clear {
  @include component.buttons;
}

#search-character-button:hover, #clear:hover {
  @include component.button-hover;
}

// Karaktärs-info-ruta
#character-info {
  @include component.background-color;
  border-radius: 18px;
  margin-bottom: 10%;
}

#character-info h2 {
  font-size: base.$heading-fontsize;
}

#character-info img {
  border: 10px solid base.$member-info-border;;
  border-radius: 12px;
  width: 300px;
  height: auto;
  @include component.center;
  @include component.box-shadow;
  animation-name: member-name;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


/* Footer */

footer {
  display: flex;
  justify-content: center; 
  background-color: rgba(36, 38, 51);
    font-size: 16px;
    font-family: base.$primary-fonts;
    width: 100%;
    height: 90px;
}

.createdBy {
  list-style: none; 
  padding: 0;
  line-height: 1.8rem;
  text-align: center;
  color: base.$font-color;
}


// Media Queries //

/* Små skärmar */

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }

  h1 {
    font-size: base.$heading-fontsize;
  }

  #main-page {
    width: 90%;
  }

  #main-page p, #main-page a {
    font-size: 20px;
  }

  #houses ul {
    display: block;
    padding: 0;
    text-align: center;
  }
  
  #houses li {
    margin: 10px;
    padding: 10px;
    font-size: 2.8em;
    letter-spacing: 2px;
  }

  #house-info {
    width: 98%;
    margin: 0 auto;
  }

  .heading {
    font-size: base.$paragraph-fontsize;
  }

  #house-info ul, #house-info li {
     font-size: 1em;
     padding: 15px;
  }
  #characterList .characterItem {
    margin: 5px;
} 

#yes-no {
  width: 95%;
  margin: 20px auto;
}

#yes-btn, #no-btn {
  margin-bottom: 5%;
}

#spellContainer {
  display: block;
}
.spellItem {
  width: 90%; 
  margin: 20px auto; 

}
.spellItem p {
  font-size: 18px;
}

.spellItem h3 {
  font-size: 20px;
}
#search-container {
  display: block;
  margin: 10px auto;
  width: 90%;
}

#searchCharacter {
  width: 90%;
  margin: 20px;
  padding: 12px;
}

#search-character-button, #clear {
  @include component.buttons;
  display: block;
  margin: 20px auto;
  width: 80%;
  font-size: 1.2em;
}

#character-info {
  width: 98%;
  margin: 0 auto;
}

#character-info img {
  width: 50%;
}
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  main {
    width: 100%;
  }

  #main-page {
    width: 90%;
  }

  #houses ul {
    display: block;
    text-align: center;
  }
  
  #houses li {
    margin: 10px;
    padding: 10px;
    font-size: 2.8em;
    
  }


  #house-info {
    width: 98%;
    margin: 0 auto;
  } 
  #yes-no, #spells h4 {
    width: 95%;
    margin: 20px auto;
  }
  
  #yes-btn, #no-btn {
    margin-bottom: 5%;
  }
  
  #spellContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 98%;
    margin: 0 auto;
}

.spellItem {
    width: calc(50% - 10px); 
}
  .spellItem p {
    font-size: 18px;
  }
  
  .spellItem h3 {
    font-size: 20px;
  }


#character-info {
  border-radius: 18px;
  width: 98%;
  margin: 0 auto;
}

#character-info img {
  border: 8px solid base.$member-info-border;
  width: 40%;
}

}

/* Större skärmar, gör menyn inline */
@media only screen and (min-width: 1000px) {
  header {
      padding: 0 1em;
      @include component.box-shadow;
  }

  .menu-btn {
      display: none;
  }

  #open-menu {
      display: none !important;
  }

  header {
      position: static;
  }

  nav {
      display: block !important;
      position: static;
      box-shadow: 0 0px 0px;
      height: auto;
      font-size: base.$paragraph-fontsize;
      width: auto;
  }

  nav ul {
    height: 100%;
}

  nav li {
      display: inline;
      padding: 2.6em 0;
  }

}

/* Större skärmar */
@media only screen and (min-width: 1001px) and (max-width: 1440px) {
  
  // Lägg husnamnen två på rad fram till 1440px
    #houses ul {
      display: block;
      text-align: center;
    }
    
    #houses li {
      margin: 10px;
      padding: 10px;
    }
   
}