/* Hantera sidans utseende med grid, flexbox, containers osv */

@use "base";
@use "component";


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: base.$footerColor;

    cursor: url('../images/wand.png'), auto;
}

main {
    width: 70%;
    margin: 10px auto;
    min-height: 100vh;
    background: base.$footerColor;
    font-family: base.$primary-fonts;
}



/* Design av huvudmeny med nestlad regel */
header {
    height: 80px;
    background-color: base.$menuColor;
    font-family: base.$secondary-fonts;
    position: relative;
    margin: 0;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
        border-radius: 50%;
    }
}

nav {
    background-color: base.$menuColor;
    @include component.custom-box-shadow;
    font-size: base.$paragraph-fontsize;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;

    ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    li {
        padding: 0.8em 0;
        width: 100%;
    }

    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 1em;
    }

    a:hover {
        text-decoration: underline;
        cursor: url('../images/wand.png'), auto;
    }
}

/* Menyknapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: base.$menuColor;
    border: rgb(0, 0, 0) solid 2px;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: base.$menuHoverColor;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

/* De tre svarta strecken ("hamburge-ikon") */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
    animation-name: text-flip;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

/* Gör två streck till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;

}



/* Footer */
footer {
    background-color: base.$footerColor;
    font-size: base.$paragraph-fontsize;
    font-family: base.$secondary-fonts;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-shrink: 0;
}

.links a {
    text-decoration: none;
    font-weight: bold;
    color: base.$font-color;
}

.course-info li, .createdBy li, .links li {
    list-style-type: none;
    text-align: center;
    line-height: 1.8rem;
    margin-top: 8px;
}

// Media Queries //

/* Större skärmar - gör menyn som inline */
@media only screen and (min-width: 1001px) {
    header {
        padding: 0 1em;
        @include component.custom-box-shadow;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: base.$paragraph-fontsize;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 2.6em 0;
    }

    .animation-btn2 {
        display: none;
    }

}