/* Hantera sidans utseende med grid, flexbox, containers osv */

@use "base";
@use "component";


* {
    box-sizing: border-box;
}

.spellLibrary {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../images/spell-library.jpg?as=webp&width=1800'); 
    background-size: cover; /* Visa hela bakgrundsbilden inom bodyn */
    background-repeat: repeat-y; /* Upprepa bakgrundsbilden längs sidans höjd */
    cursor: url('../images/wand.png'), auto; /* Trollstav som muspekare */
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../images/hoqwartsbackground.jpg?as=webp&width=1800'); 
    background-size: cover; /* Så att bilden täcker hela bakgrunden */
    background-repeat: no-repeat; /* Upprepa inte bakgrundsbilden */
    cursor: url('../images/wand.png'), auto; /* Trollstav som muspekare */
}

main {
    width: 80%;
    margin: 10px auto;
    min-height: 100vh;
    font-family: base.$primary-fonts;
}

#main-page {
  width: 60%;
  background-color: rgba(194, 194, 194, 0.65);
  @include component.box-shadow;
  margin: 0 auto;
  border-radius: 18px;
}

#main-page a {
    font-size: base.$second-heading-fontsize;
    text-decoration: none;
    color: base.$Slytherin-dark-silver;
}

/* Design av huvudmeny med nestlad regel */
header {
    height: 80px;
    background-color: base.$menuColor;
    font-family: base.$secondary-fonts;
    position: relative;
    margin: 0;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
        border-radius: 50%;
    }
}

nav {
    background-color: base.$menuColor;
    @include component.custom-box-shadow;
    font-size: base.$paragraph-fontsize;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;

    ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    li {
        padding: 0.8em 0;
        width: 100%;
    }

    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 1em;
    }

    a:hover {
        text-decoration: underline;
        cursor: url('../images/wand.png'), auto;
    }
}

/* Menyknapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: base.$menuColor;
    border: rgb(0, 0, 0) solid 2px;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: base.$member-info-border;;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

/* De tre svarta strecken ("hamburge-ikon") */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
    animation-name: text-flip;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

/* Gör två streck till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;

} 

h1 {
    font-size: base.$welcome-text;
    color: base.$font-color;
    animation-name: shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

h2 {
    font-size: base.$second-heading-fontsize;
    color: base.$font-color;
    margin: 20px auto;
    padding: 15px 10px; 
}

h3 {
  font-size: base.$third-heading-fontsize;
  color: base.$second-font-color;
  margin: 0 auto;
  padding: 5px 10px; 
}

h1, h2, h3 {
    text-align: center;
    font-weight: 500;
}

p {
  padding: 15px;
  margin: 1%;
  font-size: base.$paragraph-fontsize;
  text-align: center;
  font-family: base.$secondary-fonts;
  color: base.$house-info-paragraph;
}


/* Hus-div */
#houses ul {
    display: flex;
    justify-content: center;
    padding: 2%;
  }
  
  #houses li {
    display: inline-block;
    margin: 4px;
    padding: 10px;
    list-style-type: none;
    font-weight: 600;
    font-size: base.$heading-fontsize;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 10px;
  }
  
  #houses li:hover {
    animation-name: house-hover;
    animation-duration: 1s
  }
  
  /* Styla hus-namnen i houses-div */
  .gryffindor {
    color: base.$Gryffindor-red;
    text-shadow: 2px 2px 5px base.$Gryffindor-dark-red;
    background: base.$houseName;
    @include component.inset-boxshadow;
  }
  
  .slytherin {
    color: base.$Slytherin-green;
    text-shadow: 2px 2px 5px base.$Slytherin-dark-green;
    background: base.$houseName;
    @include component.inset-boxshadow;
  }
  
  .hufflepuff {
    color: base.$Hufflepuff-yellow;
    text-shadow: 2px 2px 5px base.$Hufflepuff-dark-yellow;
    background: base.$houseName;
    @include component.inset-boxshadow;
  }
  
  .ravenclaw {
    color: base.$Ravenclaw-blue;
    text-shadow: 2px 2px 5px base.$Ravenclaw-dark-blue;
    background: base.$houseName;
    @include component.inset-boxshadow;
  }
  
  #house-info {
    text-align: center;
    background-color: rgba(63, 62, 62, 0.85);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
  
 
  .heading {
    font-size: base.$third-heading-fontsize;
  }
  
  // Styla hus-namn i house-info div
  .house-name.gryffindor {
    color: base.$font-color;
    @include component.color-gradient-gryffindor; 
    @include component.border-house-info;
  }
  
  .house-name.slytherin {
    color: base.$font-color;
    @include component.color-gradient-slytherin;
    @include component.border-house-info;
  }
  
  .house-name.hufflepuff {
    color: base.$font-color;
    @include component.color-gradient-hufflepuff;
    @include component.border-house-info;
  }
  
  .house-name.ravenclaw {
    color: base.$font-color;
    @include component.color-gradient-ravenclaw;
    @include component.border-house-info;
  }
  
  .house-name-second.gryffindor {
    color: base.$font-color;
    @include component.color-gradient-gryffindor;
  }
  
  .house-name-second.slytherin {
    color: base.$font-color;
    @include component.color-gradient-slytherin;
  }
  
  .house-name-second.hufflepuff {
    color: base.$font-color;
    @include component.color-gradient-hufflepuff;
  }
  
  .house-name-second.ravenclaw {
    color: base.$font-color;
    @include component.color-gradient-ravenclaw;
  }
  
   /* Lista på karaktärer i hus */
   #house-info ul,
   #house-info li {
     display: inline-block;
     padding: 20px;
     list-style-type: none;
     font-weight: 500;
     font-size: base.$paragraph-fontsize;
     text-align: center; 
   }
 

  /* Namn på alla karakärer i ett hus */
  #characterList .characterItem {
    @include component.box-shadow;
    margin: 10px;
    font-family: base.$secondary-fonts;
    background-color: base.$houseName;
    border-radius: 8px;
  }
  
  .characterItem:hover {
    animation-name: character-hover;
    animation-duration: 1s;
  }
  
  
  /* Karaktär-info-div */
  #member-info {
    width: 100%;
    flex-direction: column;
    @include component.center;
    background-color: rgba(63, 62, 62, 0.85);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  /* Karaktär-info rubrik */
  #member-info h3 {
    background-color: base.$houseName;
    font-size: base.$member-info-heading-fontsize;
    margin-bottom: 5%;
    border-radius: 8px;
    padding: 22px;
    @include component.box-shadow;
    animation-name: member-name;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  #member-info img {
    border: 10px solid base.$member-info-border;
    border-radius: 12px;
    width: 300px;
    height: auto;
    @include component.center;
    @include component.box-shadow;
  }


  /* Trollformel-sida */
  #yes-no {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    background-color: rgba(121, 119, 119, 0.7);
    border-radius: 15px;
  }
#spells h4 {
  background-color: rgba(121, 119, 119, 0.7);
  text-align: center;
  font-size: base.$paragraph-fontsize;
  color: base.$Ravenclaw-dark-blue;
  border-radius: 10px;
  padding: 2%;
}
  #yes-btn, #no-btn {
    @include component.buttons;
    margin-bottom: 2%;
    animation-name: member-name;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  #yes-btn:hover, #no-btn:hover {
    @include component.button-hover;
  }

#spellContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.spellItem {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    border: 1px solid #000;
    border-radius: 18px;
    background-color: rgba(63, 62, 62, 0.8);
    color: base.$font-color;
    @include component.box-shadow;
    animation-name: spell-box-shadow;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.spellItem p {
    color: base.$font-color;
}

.spellItem h3 {
    color: base.$font-color;
}


/* Alla karaktärer-sida */

/* Sökrute-container */
#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

/* Sökruta */
#searchCharacter {
  padding: 10px;
  border: 2px solid base.$Ravenclaw-blue;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 200px;
}

#search-character-button, #clear, #yes-btn, #no-btn {
  @include component.buttons;
}

#search-character-button:hover, #clear:hover, #yes-btn:hover, #no-btn:hover {
  @include component.button-hover;
}

#character-info {
  background-color: rgba(63, 62, 62, 0.7);
  border-radius: 18px;
}

#character-info h2 {
  font-size: base.$heading-fontsize;
}

#character-info img {
  border: 10px solid base.$member-info-border;;
  border-radius: 12px;
  width: 300px;
  height: auto;
  @include component.center;
  @include component.box-shadow;
  animation-name: member-name;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


/* Footer */
footer {
    background-color: base.$houseName;
    font-size: base.$paragraph-fontsize;
    font-family: base.$secondary-fonts;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-shrink: 0;
}

.links a {
    text-decoration: none;
    font-weight: bold;
    color: base.$font-color;
}

.course-info li, .createdBy li, .links li {
    list-style-type: none;
    text-align: center;
    line-height: 1.8rem;
    margin-top: 8px;
}

// Media Queries //

/* Större skärmar - gör menyn som inline */
@media only screen and (min-width: 1001px) {
    header {
        padding: 0 1em;
        @include component.custom-box-shadow;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: base.$paragraph-fontsize;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 2.6em 0;
    }

    .animation-btn2 {
        display: none;
    }

}